version: '3'

services:
  api:
    build:
      context: .
      args: 
        PYTHON_VERSION: ${PYTHON_VERSION}
    container_name: lamapi_api
    env_file:
      - ./.env
    command: bash -c "gunicorn -w $THREADS -b 0.0.0.0:5000 server:app --timeout 300 --reload --log-level debug"
    ports:
      - "${LAMAPI_PORT}:5000"
    restart: always
    volumes:
      - ./api/:/app
  
  mongo:
    image: mongo:${MONGO_VERSION}
    container_name: lamapi_mongo
    env_file:
      - ./.env
    ports:
      - "${MONGO_PORT}:27017"
    restart: always   
    volumes:
      - ./mongo-data:/data/db
      - ${VOLUME_MY_DATA_PATH}:/data/my-data  

  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
    container_name: lamapi_elastic
    volumes:
      - ./elasticdata:/usr/share/elasticsearch/data
    ports:
      - ${ELASTIC_PORT}:9200
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - xpack.security.authc.api_key.enabled=false
    mem_limit: ${MEM_LIMIT}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    restart: always
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s http://localhost:9200 | grep -q 'You Know, for Search'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120

  kibana:
    depends_on:
      elastic:
        condition: service_healthy
    image: docker.elastic.co/kibana/kibana:${STACK_VERSION}
    container_name: lamapi_kibana
    ports:
      - ${KIBANA_PORT}:5601
    environment:
      - SERVERNAME=kibana
      - ELASTICSEARCH_HOSTS=http://elastic:9200
    mem_limit: ${MEM_LIMIT}
    restart: always
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120  

  jupyter:
    image: roby944/jupyter-extended
    container_name: lamapi_jupyter
    env_file:
      - ./.env
    environment:
      - JUPYTER_ENABLE_LAB= "yes"
    command: >
      bash -c "jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password=''"
    ports:
      - "${MY_JUPYTER_PORT}:8888"
    restart: always   
    volumes:
      - ./work:/home/jovyan/work
      - ./api:/home/jovyan/work/api
      - ${VOLUME_MY_DATA_PATH}:/home/jovyan/work/my-data
      - ./scripts:/home/jovyan/work/scripts
      